extends layout

block content
  header
    div.container
      div.title
        a(href='#') myLorem
      nav
        ul 
          li
            a.active(href='#') Welcome
          li
            a(href='#') Dropdown
          li
            a(href='#') Left Sidebar
          li
            a(href='#') Left Sidebar
          li
            a(href='#') No Sidebar
