extends layout

block content
  header
    div.container
      div.title
        a(href='#') myLorem
      nav
        ul 
          li
            a.active(href='#') Welcome
          li
            a(href='#') Dropdown
          li
            a(href='#') Left Sidebar
          li
            a(href='#') Left Sidebar
          li
            a(href='#') No Sidebar
  section.section1
    div.container
      div.block-one
        h2 Hi. This is Lorem.
        p Lorem ipsum es simplemente el texto de relleno de la imprentas y archivos de texto
      div.block-two
        div.btn.blue
          a(href='#') Ok let's go 
            i.icono.arrow
        div.btn.gray
          a(href='#') More info 
            i.icono.question