extends layout

block content
  header
    div.container
      div.title
        a(href='#') myLorem
      nav
        ul 
          li
            a.active(href='#') Welcome
          li
            a(href='#') Dropdown
          li
            a(href='#') Left Sidebar
          li
            a(href='#') Left Sidebar
          li
            a(href='#') No Sidebar
  section.section1
    div.container
      div.block-one
        h2 Hi. This is Lorem.
        p Lorem ipsum es simplemente el texto de relleno de la imprentas y archivos de texto
      div.block-two
        div.btn.blue
          a(href='#') Ok let's go 
            i.icono.arrow
        div.btn.gray
          a(href='#') More info 
            i.icono.question
  section.section2
    div.container
      ul.card
        li
          div.card-img
            img(src="images/pic01.jpg" alt="pic01")
            div.card-title Put something here
          div.card-content
            h4 Maybe here as well I think
            p Phasellus quis mi vitae lacus efficitur hendrerit. Nulla tincidunt condimentum mi nec porta. Donec mollis id justo sed ultricies.
        li
          div.card-img
            img(src="images/pic02.jpg" alt="pic02")
            div.card-title An interesting title
          div.card-content
            h4 This is also an interesting subtitle
            p Phasellus quis mi vitae lacus efficitur hendrerit. Nulla tincidunt condimentum mi nec porta. Donec mollis id justo sed ultricies.
        li
          div.card-img
            img(src="images/pic03.jpg" alt="pic03")
            div.card-title Oh, and finally...
          div.card-content
            h4 Here's another intriguing subtitle
            p Phasellus quis mi vitae lacus efficitur hendrerit. Nulla tincidunt condimentum mi nec porta. Donec mollis id justo sed ultricies.