extends layout

block content
  header
    div.container
      div.title
        a(href='#') myLorem
      nav
        ul 
          li
            a.active(href='#') Welcome
          li
            a(href='#') Dropdown
          li
            a(href='#') Left Sidebar
          li
            a(href='#') Left Sidebar
          li
            a(href='#') No Sidebar
  section.section1
    div.container
      div.block-one
        h2 Hi. This is Lorem.
        p Lorem ipsum es simplemente el texto de relleno de la imprentas y archivos de texto
      div.block-two
        div.btn.blue
          a(href='#') Ok let's go 
            i.icono.arrow
        div.btn.gray
          a(href='#') More info 
            i.icono.question
  section.section2
    div.container
      ul.card
        li
          div.card-img
            img(src="images/pic01.jpg" alt="pic01")
            div.card-title Put something here
          div.card-content
            h4 Maybe here as well I think
            p Phasellus quis mi vitae lacus efficitur hendrerit. Nulla tincidunt condimentum mi nec porta. Donec mollis id justo sed ultricies.
        li
          div.card-img
            img(src="images/pic02.jpg" alt="pic02")
            div.card-title An interesting title
          div.card-content
            h4 This is also an interesting subtitle
            p Phasellus quis mi vitae lacus efficitur hendrerit. Nulla tincidunt condimentum mi nec porta. Donec mollis id justo sed ultricies.
        li
          div.card-img
            img(src="images/pic03.jpg" alt="pic03")
            div.card-title Oh, and finally...
          div.card-content
            h4 Here's another intriguing subtitle
            p Phasellus quis mi vitae lacus efficitur hendrerit. Nulla tincidunt condimentum mi nec porta. Donec mollis id justo sed ultricies.
  section.section3
    div.container
      aside
        h4 Interesting Stuff
        ul.blocks
          li
            img(src="images/pic04.jpg" alt="pic04")
          li
            img(src="images/pic05.jpg" alt="pic05")
          li
            img(src="images/pic06.jpg" alt="pic06")
          li
            img(src="images/pic07.jpg" alt="pic07")
        div.btn.blue.other
          i.icono.file 
          |  More
      div.content
        h3 So what's is all about?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum, augue ac molestie fringilla, lacus urna finibus leo, vel sodales neque erat in felis. Aenean finibus neque id orci ullamcorper sollicitudin a at lectus. Sed ultricies congue ex non blandit. Ut ultrices massa eget aliquet vulputate. Maecenas vehicula posuere nulla, id tincidunt augue porttitor in. Quisque tempus maximus ornare. Sed vel ullamcorper dolor. Nunc rhoncus libero ut ligula euismod pulvinar. In posuere augue a sem eleifend, vitae bibendum nisi hendrerit.
        p Vivamus sit amet nisi tincidunt, fermentum lectus ut, maximus lectus. Duis mattis elementum ornare. Curabitur non est enim. Proin vehicula vel libero dictum ultrices. Quisque imperdiet, sem in lacinia maximus, risus massa malesuada ante, ut ornare risus risus vitae ex.
        div.btn.blue.other
          i.icono.arrow 
          |  Continue Readings