/* Reset browser styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background: url(../images/bg01.png) top center #eee;
}

ol, ul {
	list-style: none;
}

header {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

header .title {
  margin-top: -14px;
}

header .title a {
  font-family: 'Oleo Script', cursive;
  font-weight: 500;
  color: #ef180f;
  font-size: 50px;
  text-decoration: none;
}

header .container {
  padding: 30px 0;
}

nav {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li a {
  color: #393f44;
  font-weight:700;
  text-decoration: none;
  padding: 10px;
  font-size:14px;
}

nav ul li a:hover, nav ul li a.active {
  background: #393f44;
  color: #fff;
  border-radius: 7px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  nav ul li a {
    display: block;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  nav ul li a {
    display: block;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  nav ul li a {
    display: block;
  }
}
/* Font Awesome */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
  url('fonts/fontawesome-webfont.woff') format('woff'), 
  url('fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icono {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow:before {
  content: "\f0a9";
}

.question:before {
  content: "\f059";
}

.file::before {
  content: "\f0f6";
}
/* Fin Font Awesome */
.section1 .container {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 2px 0px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section1 .block-one {
  padding: 50px;
  max-width: 50%;
}

.section1 .block-one h2 {
  font-size: 52px;
  font-weight: 800;
  color: #444;
}

.section1 .block-one p {
  font-size: 36px;
  color: #444;
  line-height: 44px;
  margin: 25px 0 0;
}

.section1 .block-two {
  padding: 50px;
  width: 32%;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-weight: 800;
  width: 100%;
  display: block;
  font-size: 28px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 25px;
  transition: ease all 0.2s;
}

.btn.blue {
  background: #1591c4;
  color: #fff;
}

.btn a {
  color: inherit;
  text-decoration: none;
}

.btn.gray {
  background: #f2f2f2;
  color: #444;
  font-size: 28px;
  margin-bottom: 10px;
}

.btn:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .section1 .block-one {
    padding: 50px;
    max-width: 100%;
  }

  .section1 .block-two {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .section1 .block-one {
    padding: 50px;
    max-width: 100%;
  } 

  .section1 .block-two {
    padding: 50px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .section1 .block-one {
    padding: 50px;
    max-width: 50%;
  }

  .section1 .block-two {
    padding: 50px;
    width: 32%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .section1 .block-one {
    padding: 50px;
    max-width: 100%;
  }

  .section1 .block-two {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
/** section 2 **/
.section2 {
  padding: 50px 0;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card li {
  width: 30%;
  border-radius: 6px;
  box-shadow: 0px 4px 2px 0px #ccc;
  overflow: hidden;
  background: #fff;
}

.card li .card-img {
  min-height: 300px;
  background: #929292;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  font-weight: 800;
  color: #fff;
  text-shadow: 0px 2px 2px #444;
  position: relative;
}

.card li .card-content {
  padding: 10px;
  min-height: 175px;
  line-height: 28px;
}

h4 {
  color: #393f44;
  font-weight: 800;
  display: block;
}

.card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card li .card-title {
  position: relative;
}

@media (max-width: 768px) {
  .card {
    display: block;
  }

  .card li {
    width: 100%;
  }
}
/* Section 3 */
.section3 {
  background: #fff;
  box-shadow: 0px 4px 2px 0px #ccc;
  padding: 50px 0;
}

aside {
  width: 30%;
  display: block;
}

.content {
  width: 65%;
}

.btn.other {
  width: fit-content;
  font-size: 24px;
  padding: 16px;
  margin: 10px 0;
}

ul.blocks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px 0;
}

ul.blocks li {
  width: 48%;
  height: 100px;
  background: #eee;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
}

h3 {
  color: #444;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 25px;
}

.content p {
  font-size: 18px;
  line-height: 32px;
  margin: 25px 0;
  color: #444;
}

@media (max-width: 768px) {
  aside {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
  }
  
  .content {
    width: 100%;
    padding: 10px;
  }

  ul.blocks li img {
    width: 100%;
  }
}